[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mikle-Bond
	email = Mikle_Bond@mail.ru
[alias]
	st = status
	ch = checkout
	br = branch
	ci = commit -v
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
[diff]
	tool = vimdiff
