[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mikle-Bond
	email = Mikle_Bond@mail.ru
[alias]
	st = status
	ch = checkout
	br = branch
	ci = commit -v
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	lga = lg --all --date-order
[diff]
	tool = vimdiff

# https://www.reddit.com/r/archlinux/comments/a3ozkz/which_aur_helper_is_currently_the_best_choice/eb7ytsi?utm_source=share&utm_medium=web2x&context=3
[url "https://aur.archlinux.org/"]
	insteadOf = "aur:"
[url "ssh://aur@aur.archlinux.org/"]
	pushInsteadOf = "aur:"
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = master
