#!/bin/bash

XTHEME="$HOME/.xtheme.sh"
[ -f "$XTHEME" ] && . $XTHEME

if [ -z ${DISPLAY+x} ] ; then 
	echo "The \$DISPLAY variable is not set"
else
	echo "Running on display $DISPLAY"
fi

export TERMINAL="urxvtc -e"

