! Letter spacing
*letterSpace: -5
URxvt*letterSpace: -1

! Fonts {{{
! Global
*.font: xft:Droid\ Sans\ Mono:size=10

! Rofi
rofi.font: Droid Sans Mono 12
! URxvt + vim powerline
URxvt.font:	\
	xft:Droid Sans Mono for Powerline Nerd Font:size=10,\
	xft:Unifont:pixelsize=13,\
	-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
! st
st.font: Droid Sans Mono for Powerline Nerd Font:size=10
st.chscale: 0.9
st.cwscale: 1.0
! archived
! URxvt*font: xft:Inconsolata for Powerline Nerd Font:size=11
! URxvt*font: xft:Droid Sans Mono for Powerline:pixelsize=13,xft:Symbola,xft:Noto Color Emoji:minspace=False
! URxvt*font: xft:Droid\ Sans\ Mono:pixelsize=13,xft:PowerlineSymbols:pixelsize=13
! }}}

! Interface
URxvt*mouseWheelScrollPage: true
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
URxvt*intensityStyles: true

! Alt key modification
URxvt*meta8: false 
URxvt*modifier: meta
! hack by don_crissti 
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! Hide and fade
URxvt*pointerBlank: true
URxvt*fading: 20
URxvt*fadeColor: #1e1e1e 

! Colors
#include ".cache/wal/colors.Xresources"
!include ".Xresources.d/monokai"
!include ".Xresources.d/default-colors"

! 
! 
! rxvt-unicode (urxvt) v9.22 - released: 2016-01-23
! options: perl,xft,styles,combining,blink,iso14755,unicode3,encodings=eu+vn+jp+jp-ext+kr+zh+zh-ext,fade,transparent,tint,XIM,frills,selectionscrolling,wheel,slipwheel,cursorBlink,pointerBlank,scrollbars=plain+rxvt+NeXT+xterm
! Usage: urxvt [options] [-e command args]
! 
! where resources (long-options) include:
!   termName:                       string
!   geometry:                       geometry
!   chdir:                          string
!   reverseVideo:                   boolean
!   loginShell:                     boolean
!   multiClickTime:                 number
!   jumpScroll:                     boolean
!   skipScroll:                     boolean
!   pastableTabs:                   boolean
!   scrollstyle:                    mode
!   scrollBar:                      boolean
!   scrollBar_right:                boolean
!   scrollBar_floating:             boolean
!   scrollBar_align:                mode
!   thickness:                      number
!   scrollTtyOutput:                boolean
!   scrollTtyKeypress:              boolean
!   scrollWithBuffer:               boolean
!   inheritPixmap:                  boolean
!   transparent:                    boolean
!   tintColor:                      color
!   shading:                        number
!   blurRadius:                     HxV
!   utmpInhibit:                    boolean
!   urgentOnBell:                   boolean
!   visualBell:                     boolean
!   mapAlert:                       boolean
!   tripleclickwords:               boolean
!   insecure:                       boolean
!   background:                     color
!   foreground:                     color
!   color0:                         color
!   color1:                         color
!   color2:                         color
!   color3:                         color
!   color4:                         color
!   color5:                         color
!   color6:                         color
!   color7:                         color
!   color8:                         color
!   color9:                         color
!   color10:                        color
!   color11:                        color
!   color12:                        color
!   color13:                        color
!   color14:                        color
!   color15:                        color
!   colorBD:                        color
!   colorIT:                        color
!   colorUL:                        color
!   colorRV:                        color
!   underlineColor:                 color
!   scrollColor:                    color
!   troughColor:                    color
!   highlightColor:                 color
!   highlightTextColor:             color
!   cursorColor2:                   color
!   pointerColor:                   color
!   pointerColor2:                  color
!   borderColor:                    color
!   iconFile:                       file
!   font:                           fontname
!   boldFont:                       fontname
!   italicFont:                     fontname
!   boldItalicFont:                 fontname
!   inputMethod:                    name
!   preeditType:                    style
!   imLocale:                       string
!   imFont:                         fontname
!   title:                          string
!   iconName:                       string
!   saveLines:                      number
!   buffered:                       boolean
!   depth:                          number
!   visual:                         number
!   transient-for:                  windowid
!   override-redirect:              boolean
!   hold:                           boolean
!   externalBorder:                 number
!   internalBorder:                 number
!   borderLess:                     boolean
!   lineSpace:                      number
!   skipBuiltinGlyphs:              boolean
!   pointerBlankDelay:              number
!   backspacekey:                   string
!   deletekey:                      string
!   print-pipe:                     string
!   cutchars:                       string
!   answerbackString:               string
!   secondaryScreen:                boolean
!   secondaryScroll:                boolean
!   perl-lib:                       string
!   perl-eval:                      perl-eval
!   perl-ext-common:                string
!   perl-ext:                       string
!   iso14755:                       boolean
!   iso14755_52:                    boolean
!   xrm:                            string
!   keysym.sym:                     keysym
!   background.border:              boolean
!   background.expr:                string
!   background.interval:            seconds
!   bell-command:                   string
!   kuake.hotkey:                   string
!   matcher.button:                 string
!   matcher.launcher:               string
!   matcher.launcher.*:             string
!   matcher.pattern.*:              string
!   matcher.rend.*:                 string
!   remote-clipboard.fetch:         string
!   remote-clipboard.store:         string
!   searchable-scrollback:          string
!   selection-autotransform.*:      string
!   selection-pastebin.cmd:         string
!   selection-pastebin.url:         string
!   selection.pattern-0:            string
!   tab-bg:                         colour
!   tab-fg:                         colour
!   tabbar-bg:                      colour
!   tabbar-fg:                      colour
!   url-launcher:                   string
! 
!   -help to list options
! 

